<a style="cursor: pointer;" class="list-group-item clear-fix box"
 [routerLink]="[index]"
 routerLinkActive="active"  >
      <div class="test">
        <h4 class="list-group-item-heading pt-2 ps-3">{{ i.name }}</h4>
        <span class="img-right">
          <img
            src="{{ i.imagePath }}"
            alt="{{ i.name }}"
            class="img-responsive"
            style="max-height: 50px"
          />
        </span>
        <p class="list-group-item-text ps-3">{{ i.description }}</p>
      </div>
    </a>